<settings>
  <id>SettingsInfoImpl--ff3dd85:13e9d9af235:-7fb7</id>
  <workspace>
    <id>WorkspaceInfoImpl--474ece09:133208a1f4e:-7a8c</id>
    <name>pigma_pub</name>
  </workspace>
  <contact>
    <id>contact</id>
    <addressType>Work</addressType>
    <contactEmail>sebastien.negre@gipatgeri.fr</contactEmail>
    <contactOrganization>PIGMA</contactOrganization>
    <contactPerson>PIGMA</contactPerson>
  </contact>
  <charset>UTF-8</charset>
  <numDecimals>6</numDecimals>
  <onlineResource>http://geoserver.org</onlineResource>
  <proxyBaseUrl>https://www.pigma.org/geoserver</proxyBaseUrl>
  <verbose>true</verbose>
  <verboseExceptions>false</verboseExceptions>
  <localWorkspaceIncludesPrefix>true</localWorkspaceIncludesPrefix>
</settings>