<settings>
  <id>SettingsInfoImpl-16f1b275:13e216ff81f:-6826</id>
  <workspace>
    <id>WorkspaceInfoImpl-10f0fb2b:136e9b7cf61:912</id>
    <name>ars</name>
  </workspace>
  <contact>
    <id>contact</id>
    <addressType>Work</addressType>
    <contactEmail>sebastien.negre@gipatgeri.fr</contactEmail>
    <contactOrganization>PIGMA</contactOrganization>
    <contactPerson>PIGMA</contactPerson>
  </contact>
  <charset>UTF-8</charset>
  <numDecimals>6</numDecimals>
  <onlineResource>http://geoserver.org</onlineResource>
  <proxyBaseUrl>https://www.pigma.org/geoserver</proxyBaseUrl>
  <verbose>false</verbose>
  <verboseExceptions>false</verboseExceptions>
  <localWorkspaceIncludesPrefix>true</localWorkspaceIncludesPrefix>
</settings>