.green{
    background: greenyellow;
}

.red{
    background: red;
}

.yellow{
    background: yellow;
}

table {
    display:table;/* if no float, or inline-block to div */
    border:solid;
    background:gray;
    margin:1em;
    float:left;
    table-layout: fixed;
}


th, td {
    border:1px solid;
    text-align:center;
    background:white;
}

tbody {
    height:650px;
    overflow:scroll;
    margin:0;
    margin-right:-1.6em;
}