<roleFilter>
  <id>-65cc173:13e10922f9b:-70a7</id>
  <name>roleFilter</name>
  <className>org.geoserver.security.filter.GeoServerRoleFilter</className>
  <httpResponseHeaderAttrForIncludedRoles>roles</httpResponseHeaderAttrForIncludedRoles>
  <roleConverterName>roleConverter</roleConverterName>
</roleFilter>