<settings>
  <id>SettingsInfoImpl--4ecb909f:15ad1288d87:404e</id>
  <workspace>
    <id>WorkspaceInfoImpl--4ecb909f:15ad1288d87:3fd0</id>
    <name>ddsp_47</name>
  </workspace>
  <contact>
    <id>contact</id>
    <address>6, Parvis des Chartrons</address>
    <addressCity>Bordeaux</addressCity>
    <addressPostalCode>33075</addressPostalCode>
    <addressType>Work</addressType>
    <contactEmail>sebastien.negre@gipatgeri.fr</contactEmail>
    <contactOrganization>PIGMA</contactOrganization>
    <contactPerson>PIGMA</contactPerson>
    <contactVoice>05.57.85.40.42</contactVoice>
  </contact>
  <charset>UTF-8</charset>
  <numDecimals>6</numDecimals>
  <onlineResource>http://geoserver.org</onlineResource>
  <proxyBaseUrl>https://www.pigma.org/geoserver</proxyBaseUrl>
  <verbose>true</verbose>
  <verboseExceptions>false</verboseExceptions>
  <metadata>
    <map>
      <entry>
        <string>quietOnNotFound</string>
        <boolean>true</boolean>
      </entry>
    </map>
  </metadata>
  <localWorkspaceIncludesPrefix>true</localWorkspaceIncludesPrefix>
</settings>