<layerGroup>
  <id>LayerGroupInfoImpl-2fa548b8:13291b4bfc7:-7fd2</id>
  <name>Routes</name>
  <mode>SINGLE</mode>
  <queryDisabled>true</queryDisabled>
  <workspace>
    <id>WorkspaceInfoImpl--3d639cb2:13285edbc12:-7fef</id>
  </workspace>
  <publishables>
    <published type="layer">
      <id>LayerInfoImpl--3d639cb2:13285edbc12:-7e27</id>
    </published>
    <published type="layer">
      <id>LayerInfoImpl--3d639cb2:13285edbc12:-7e2f</id>
    </published>
    <published type="layer">
      <id>LayerInfoImpl--3d639cb2:13285edbc12:-7e2b</id>
    </published>
    <published type="layer">
      <id>LayerInfoImpl--3d639cb2:13285edbc12:-7e25</id>
    </published>
  </publishables>
  <styles>
    <style>
      <id>StyleInfoImpl--57418a1f:130f9791466:-7ffe</id>
    </style>
    <style>
      <id>StyleInfoImpl-2fa548b8:13291b4bfc7:-7fff</id>
    </style>
    <style>
      <id>StyleInfoImpl-2fa548b8:13291b4bfc7:-7fe4</id>
    </style>
    <style>
      <id>StyleInfoImpl-2fa548b8:13291b4bfc7:-7ff0</id>
    </style>
  </styles>
  <bounds>
    <minx>310678.2</minx>
    <maxx>577978.25</maxx>
    <miny>6189301.0</miny>
    <maxy>6515639.7</maxy>
    <crs class="projected">EPSG:2154</crs>
  </bounds>
</layerGroup>